body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background: #fdf6ff;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #ffd6e0, #d6f5ff);
    padding: 50px 20px;
}

.top {
    background: #ff6b81;
    color: white;
    padding: 8px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}

/* PRECIOS */
.tachado {
    text-decoration: line-through;
    color: #999;
    font-size: 26px;
}

.precio {
    font-size: 40px;
    color: #00b894;
    margin: 10px 0;
}

/* BOTONES */
.btn {
    display: block;
    margin: 15px auto;
    padding: 18px;
    width: 280px;
    border-radius: 30px;
    font-weight: 700;
    text-decoration: none;
}

.principal {
    background: linear-gradient(135deg, #ffeaa7, #fab1a0);
    color: black;
    animation: pulse 1.5s infinite;
}

.whatsapp {
    background: #25D366;
    color: white;
}

.grande {
    background: #ff7675;
    color: white;
}

/* PAGOS */
.pagos {
    font-size: 14px;
    margin-top: 10px;
}

/* CONTADOR */
.contador-box {
    margin-top: 20px;
}

#contador {
    font-size: 30px;
    font-weight: bold;
}

/* BARRA */
.barra {
    width: 80%;
    height: 10px;
    background: #ddd;
    margin: 10px auto;
    border-radius: 10px;
}

.progreso {
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, #ff6b81, #ffb6b9);
    border-radius: 10px;
    animation: mover 3s infinite alternate;
}

/* BENEFICIOS */
.beneficios {
    padding: 40px 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
}

/* BONUS */
.bonus {
    background: #dff9fb;
    padding: 40px 20px;
}

.bonus-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
}

/* CTA */
.cta {
    background: #ffeaa7;
    padding: 40px;
}

/* ANIMACIONES */
@keyframes pulse {
    50% { transform: scale(1.05); }
}

@keyframes mover {
    from { width: 50%; }
    to { width: 90%; }
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .precio { font-size: 32px; }
    .btn { width: 90%; }
    .grid { grid-template-columns: 1fr; }
}
